.DS_Store
*.gem
*.rbc
.bundle
.config
.rvmrc
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.idea/.name

.idea/.rakeTasks

.idea/encodings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/sovren - montch.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/runConfigurations/spec.xml

.idea/sovren-saas.iml
