---
http_interactions:
- request:
    method: get
    uri: http://services.resumeparsing.com/ResumeService.asmx?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://services.resumeparsing.com/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://services.resumeparsing.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://services.resumeparsing.com/\">\r\n
        \     <s:element name=\"ParseResume\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"request\" type=\"tns:ParseResumeRequest\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"ParseResumeRequest\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"AccountId\" type=\"s:string\"
        />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ServiceKey\"
        type=\"s:str[...]
- request:
    method: post
    uri: http://services.resumeparsing.com/ResumeService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.resumeparsing.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetAccountInfo><tns:request><tns:AccountId></tns:AccountId><tns:ServiceKey></tns:ServiceKey></tns:request></tns:GetAccountInfo></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://services.resumeparsing.com/GetAccountInfo"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAccountInfoResponse
        xmlns="http://services.resumeparsing.com/"><GetAccountInfoResult><Code>Success</Code><Message>Successful
        transaction</Message><TotalTransactions>12</TotalTransactions><TransactionsRemaining>188</TransactionsRemaining><ExpirationDate>3/13/2014</ExpirationDate></GetAccountInfoResult></GetAccountInfoResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 17 Feb 2014 16:05:49 GMT
recorded_with: VCR 2.8.0
