---
http_interactions:
- request:
    method: get
    uri: https://services.resumeparsing.com/ResumeService.asmx?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://services.resumeparsing.com/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://services.resumeparsing.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://services.resumeparsing.com/\">\r\n
        \     <s:element name=\"ParseResume\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"request\" type=\"tns:ParseResumeRequest\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"ParseResumeRequest\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"AccountId\" type=\"s:string\"
        />\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"ServiceKey\"
        type=\"s:str[...]
- request:
    method: post
    uri: https://services.resumeparsing.com/ResumeService.asmx
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://services.resumeparsing.com/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:ParseResume><tns:request><tns:AccountId>26790859</tns:AccountId><tns:ServiceKey>3bcOMJHxKRMZkf1lxC7MzT7QlE8LoVDiCrTmKaKM</tns:ServiceKey><tns:FileText>EXECUTIVE ASSISTANT

        Performs administrative duties for executive management. Responsibilities may include screening calls; managing calendars; making travel, meeting and event arrangements; preparing reports and financial data; training and supervising other support staff; and customer relations. Requires strong computer and Internet research skills, flexibility, excellent interpersonal skills, project coordination experience, and the ability to work well with all levels of internal management and staff, as well as outside clients and vendors. Sensitivity to confidential matters may be required.</tns:FileText><tns:Configuration>_100000_0_00000010_0000000110101100_1_0000000000000111111102000000000010000100000000000000</tns:Configuration></tns:request></tns:ParseResume></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://services.resumeparsing.com/ParseResume"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><ParseResumeResponse
        xmlns=\"http://services.resumeparsing.com/\"><ParseResumeResult><Code>Success</Code><Message>Successful
        transaction</Message><FileType>Text</FileType><Text>EXECUTIVE ASSISTANT\n\nPerforms
        administrative duties for executive management. Responsibilities may include
        screening calls; managing calendars; making travel, meeting and event arrangements;
        preparing reports and financial data; training and supervising other support
        staff; and customer relations. Requires strong computer and Internet research
        skills, flexibility, excellent interpersonal skills, project coordination
        experience, and the ability to work well with all levels of internal management
        and staff, as well as outside clients and vendors. Sensitivity to confidential
        matters may be required.</Text><TextCode>ovIsProbablyValid</TextCode><Xml>&lt;?xml
        version=\"1.0\" encoding=\"UTF-8\"?&gt;\n&lt;Resume xml:lang=\"en\" xmlns=\"http://ns.hr-xml.org/2006-02-28\"
        xmlns:sov=\"http://sovren.com/hr-xml/2006-02-28\"&gt;\n\t&lt;ResumeId&gt;\n\t\t&lt;IdValue
        /&gt;\n\t&lt;/ResumeId&gt;\n\t&lt;StructuredXMLResume&gt;\n\t\t&lt;Languages&gt;\n\t\t\t&lt;Language&gt;\n\t\t\t\t&lt;LanguageCode&gt;en&lt;/LanguageCode&gt;\n\t\t\t\t&lt;Read&gt;true&lt;/Read&gt;\n\t\t\t\t&lt;Write&gt;true&lt;/Write&gt;\n\t\t\t\t&lt;Speak&gt;true&l[...]
- request:
    method: get
    uri: https://services.resumeparsing.com/ParsingService.asmx?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap1[...]
